@font-face {
    font-family: ApercuPro;
    src: url('../fonts/apercurpro-regular/apercu_regular_pro.otf');
}

@import "normalize";
@import "variables";
@import "mixins";
@import "grid";
@import "responsive-utilities";
@import "jquery.fullpage";

html, body {
    font-family: ApercuPro;
    font-size: 16px;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden !important;
}
body {
    @media (max-width: $screen-md-min) {
        margin-top: 30px;
    }
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.clear {
    clear:both;
}
header {
    position: fixed;
    top: 0;
    z-index: 100;
    display: block;
    padding: 70px 60px 0 60px;
    width: 100%;
    nav {
        .nav-left {
            float: left;
        }
        .nav-right {
            float: right;
        }
        .btn {
            height: 60px;
            padding: 15px 23px;
        }
    }
    .nav-logo {
        margin: 0;
        height: 60px;
        width: 60px;
        background-image: url(../images/logo.svg);
        background-size: contain;
        background-repeat: no-repeat;
        @media (max-width: $screen-md-min) {
            height: 30px;
            width: 30px;
            margin-left: -30px;
        }
    }
    .mobile-nav {
        text-align: center;
        height: 100%;
        .nav-burger {
            margin: 0;
            height: 30px;
            width: 30px;
            background-image: url(../images/burger.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            display: inline-block;
            float: left;
        }
        .mobile-menu {
            height: 0;
            width: 0;
            overflow: hidden;
            opacity: 0;
            padding-top:20px;
            transition: width 0.5s ease-in-out;
            background: white;
            a {
                display:block;
            }
            &.mobile-menu-visible {
                height: 100%;
                width: 100%;
                opacity: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                align-items: center;
            }
        }
    }
    @media (max-width: $screen-md-min) {
        background: white;
        padding: 15px 15px 0 15px;
    }
}

@mixin slide-bg-mixin($name) {
    background-image: url(../images/web/#{$name}.png);
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background-image: url(../images/web/#{$name}@2x.png);
    }
    @media (max-width: $screen-md-min) {
        background-image: url(../images/mobile/#{$name}.png);
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            background-image: url(../images/mobile/#{$name}@2x.png);
        }
    }
}
.main-section {
    .pic-photo {
        background-image: url(../images/web/photo.png);
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            background-image: url(../images/web/photo@2x.png);
        }
    }
    .pic-emp {
        @include slide-bg-mixin('emp');
    }
    .pic-jet {
        @include slide-bg-mixin('jet');
    }
    .pic-caarty {
        @include slide-bg-mixin('caarty');
    }
    .pic-benfit {
        @include slide-bg-mixin('benfit');
    }
    .pic-transportapp {
        @include slide-bg-mixin('transportapp');
    }
    .pic-surence {
        @include slide-bg-mixin('surence');
    }
    .pic-airports {
        @include slide-bg-mixin('airports');
    }
    .pic-ablefinder {
        @include slide-bg-mixin('ablefinder');
    }
    .pic-younico {
        @include slide-bg-mixin('younico');
    }
    .slide {
        .fullheight {
            height: 100%;
            @media (max-width: $screen-md-min) {
                height: auto;
            }
        }
        .gap-img {
            padding-top: 135px;
            height: 100%;
            @media (max-width: $screen-md-min) {
                height: auto;
            }
            > div {
                height: 100%;
                background-repeat: no-repeat;
                background-size: auto 100%;
                background-position: center right;
                @media (max-width: $screen-md-min) {
                    height: 200px !important;
                    padding: 20px !important;
                    background-position: center;
                    background-size: contain;
                }
            }
            @media (max-width: $screen-md-min) {
                padding-top: 20px !important;
                margin: 15px;
            }
        }
        .gap-text {
            @media (max-width: $screen-md-min) {
                padding-top: 0px;
                padding-right: 15px;
                padding-left: 15px;
                margin:: 15px;
            }
            padding-top: 200px;
            padding-right: 30px;
            h2 {
                font-size: 34px;
                @media (max-width: $screen-md-min) {
                    font-size: 22px;
                }
            }
            p {
                @media (max-width: $screen-md-min) {
                    padding-left: 0;
                    font-size: 16px;
                }
                padding-left: 20px;
                line-height: 1.7;
                font-size: 28px;
            }
        }
        a {
            color: black;
            font-weight: bold;
            text-decoration: none;
        }
    }
}
.btn {
    display: inline-block;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    text-decoration: none;
    &.btn-border {
        border: solid 4px #000000;
        font-size: 24px;
        padding: 9px 23px;
    }
}

.indicator {
    position: fixed;
    display: block;
    right: 0;
    height: 10px;
    width: 50%;
    top: 180px;
    hr {
        border-color: #cccccc;
        border-top: none;
        margin: 0;
    }
    .indicator-marker {
        width: 40px;
    	height: 8px;
        margin-top: -4px;
    	background-color: #000000;
        transition: all 0.7s ease-out 0.1s;
    }
}
.signature {
    display: inline-block;
    vertical-align: text-top;
    @media (max-width: $screen-md-min) {
    }
    img {
        width: 101px;
        height: 115px;
    }
}
.row-contact {
    text-align:center;
    a {
        font-size: 40px;
        font-weight: bold;
        line-height: 1.2;
        color:black;
        &:hover,&:active {
            color:black;
        }
    }
    .center-contact {
        @media (max-width: $screen-md-min) {
            margin: 75px 0;
        }
    }
}
header,.indicator {
    transition: visibility 0.6s, opacity 0.6s linear;
}
.fp-viewing-contact {
    header,.indicator {
        visibility: hidden;
        opacity: 0;
    }
}
/*
.main-section .slide.slide-about .gap-img div {
    background-position: center center;
}
.main-section .slide.slide-emp .gap-img {
    padding-top: 150px;
    padding-bottom: 25px;
}
.main-section .slide.slide-caarty .gap-img {
    padding-top: 150px;
    padding-bottom: 25px;
}
.main-section .slide.slide-transportapp .gap-img {
    padding-top: 150px;
    padding-bottom: 25px;
}
.main-section .slide.slide-surence .gap-img {
    padding-top: 150px;
    padding-bottom: 25px;
}
.main-section .slide.slide-ablefinder .gap-img {
    padding-top: 150px;
    padding-bottom: 25px;
}*/



.fp-slidesContainer {
	width: 100%!important;
	transform: none!important;
}

.fp-slide {
/*    transform: translateY(100px);
    transition: all 2s ease-in-out;*/
    .gap-text, .row-contact {
        color: white !important;
    	transition: all 1.5s ease-in-out;
        a {
            transition: all 1.5s ease-in-out;
            color: white !important;
        }
        .signature {
            opacity: 0;
            transition: all 1.5s ease-in-out;
        }
    }
    .gap-img {
        opacity: 0;
        transition: all 1.5s ease-in-out;
    }

}

.fp-slide.active {
/*    transform: none;*/
    .gap-img {
        opacity: 1;
    }
    .gap-text, .row-contact {
        color: black  !important;
        a {
            color: black  !important;
        }
        .signature {
            opacity: 1;
        }
    }
}

.mobile-menu-opened {
    height: 100%;
}
